@model IEnumerable<FelipeB_App3BI.Models.AgenteModel>
@using FelipeB_App3BI.Util 
@{
    ViewBag.Title = "Agentes";
    ViewBag.ActiveIndex = 1;
}

<h1 class="bg-danger text-white display-2 text-center rounded-top p-3 mb-0">Apenas pessoal autorizado!</h1>
<h5 class="bg-danger text-white-50 font-italic text-center rounded-bottom p-3 mt-0">Com grandes poderes, vem grandes responsabilidades!</h5>

<div class="row d-flex justify-content-around align-items-center mt-5 pb-3">
    <div class="col-5 card rounded link px-0 shadow">
        <h1 class="text-center card-header">Clientes 🧔</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item font-italic">
                <div class="d-flex justify-content-around"><span>Quantidade cadastrados: @ViewBag.ClientesCount</span></div>
            </li>
            <li class="list-group-item font-italic">
                <div class="d-flex justify-content-center"><a class="btn btn-primary" href="@Url.Action("Index", "Cliente")">Visualizar Lista</a></div>
            </li>
        </ul>
    </div>
    <div class="col-5 card rounded link px-0 shadow">
        <h1 class="text-center card-header">Funcionarios 👷‍♂️</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item font-italic">
                <div class="d-flex justify-content-around"><span>Quantidade cadastrados: @ViewBag.FuncionariosCount</span></div>
            </li>
            <li class="list-group-item font-italic">
                <div class="d-flex justify-content-center"><a class="btn btn-primary" href="@Url.Action("Index", "Funcionario")">Visualizar Lista</a></div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12 card rounded link px-0 shadow">
        <div class="card-header text-center">
            <h1>Agentes</h1>

            <span class="font-italic">Quantidade cadastrados: @Model.Count()</span>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="border-top-0">@Html.DisplayNameFor(Model => Model.CPF)</th>
                        <th scope="col" class="border-top-0">@Html.DisplayNameFor(Model => Model.Nome)</th>
                        <th scope="col" class="border-top-0">@Html.DisplayNameFor(Model => Model.Telefone)</th>
                        <th scope="col" class="border-top-0">@Html.DisplayNameFor(Model => Model.Endereco.Cidade)</th>
                        <th scope="col" class="border-top-0">@Html.DisplayNameFor(Model => Model.Endereco.Estado)</th>
                        <th scope="col" class="border-top-0">@Html.DisplayNameFor(Model => Model.Endereco.Logradouro) - @Html.DisplayNameFor(Model => Model.Endereco.Numero)</th>
                        <th scope="col" class="border-top-0"><div class="d-flex justify-content-end"><a class="btn btn-success" href="@Url.Action("Form")">+ Criar novo</a></div></th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        foreach (var m in Model)
                        {
                            <tr class="pointer" onclick="window.location = '@Url.Action("Details", "Agente", new { id = m.CPF })'">
                                <th scope="row">@Masker.MaskCpf(m.CPF)</th>
                                <td>@m.Nome</td>
                                <td>@Masker.MaskTelephone(m.Telefone)</td>
                                <td>@m.Endereco.Cidade</td>
                                <td>@m.Endereco.Estado</td>
                                <td>@m.Endereco.Logradouro - @m.Endereco.Numero</td>
                                <td colspan="3">
                                    <div class="d-flex justify-content-between">
                                        <a href="@Url.Action("Form", new { id = m.CPF })" class="btn btn-outline-info rounded mr-1">Editar</a>

                                        @using (Html.BeginForm(m.IsCliente ? "Del" : "Add", "Cliente", FormMethod.Post))
                                        {
                                            <button class="btn btn-outline-@(m.IsCliente?"danger":"primary") rounded mr-1" type="submit" name="id" value="@m.CPF">@(m.IsCliente?"-":"+") 🧔</button>
                                        }

                                        @using (Html.BeginForm(m.IsFuncionario ? "Del" : "Add", "Funcionario", FormMethod.Post))
                                        {
                                            <button class="btn btn-outline-@(m.IsFuncionario?"danger":"primary") rounded" type="submit" name="id" value="@m.CPF">@(m.IsFuncionario?"-":"+") 👷‍♂️</button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
