@model List<FelipeB_App3BI.Models.FuncionarioModel>
@{
    ViewBag.Title = "Funcionários";
    ViewBag.ActiveIndex = 1;
}

<h2>Funcionarios</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(Model => Model[0].CPF)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model[0].Nome)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model[0].Telefone)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model[0].Endereco.Cidade)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model[0].Endereco.Estado)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model[0].Endereco.Logradouro) - @Html.DisplayNameFor(Model => Model[0].Endereco.Numero)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                <tr>
                    <th scope="row">@m.CPF</th>
                    <td>@m.Nome</td>
                    <td>@m.Telefone</td>
                    <td>@m.Endereco.Cidade</td>
                    <td>@m.Endereco.Estado</td>
                    <td>@m.Endereco.Logradouro - @m.Endereco.Numero</td>
                    <td class="d-flex">
                        <a href="@Url.Action("Details", new { cpf=m.CPF })" class="btn btn-outline-info rounded mr-3">Editar Agente</a>

                        @using (Html.BeginForm("Del", "Funcionario", FormMethod.Post))
                        {
                    <button class="btn btn-outline-danger rounded" type="submit" name="cpf" value="@m.CPF">- 👷‍♂️</button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>